#from_button_login {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Effet de survol pour le bouton */
.button:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}
#connection {
  /* Style pour le bouton */

  background-color: #596359; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border: none; /* Supprime la bordure */
  padding: 10px 20px; /* Espacement intérieur (haut/bas gauche/droite) */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur au survol */
}
