button {
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 3px;
  cursor: pointer;
}

#connection {
  background-color: #596359;
}
#from_button_login {
  background-color: #007bff;
}

#reset {
  background-color: chocolate;
}
