ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #4b97c7;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #be4545;
  color: white;
}


.text{
  border: none;
  padding: 10px 20px;
  background-color: #b99191;

   position: relative; 
   bottom:60%;

    color:#be4545;opacity: 0;transition: 2.5s ease ;
}

.contain{
height: 150px;
}
.contain:hover{ .image{opacity: 0.4};
.text{opacity: 1; }}


    .image {
  opacity: 1;
  display: block;

  transition: 2.5s ease;
  backface-visibility: hidden;
}